<%= form_for(@interview) do |f| %>
  <% if @interview.errors.any? %>
    <div>
      <ul class="alert alert-error" style = "list-style-type: none;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h4>
        <br>
        <% @interview.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => 'shared/datetime_picker', :locals => {:f => f} %>

  <div class="field">
    <label>Select A User</label>
     <select name="user_id">
       <% @users.each do |u|%>a
         <option value=<%= u.id %>><%= u.name %></option>      
       <% end %>
     </select>
  </div>

  <div class="field">
    <label>Select A Job</label>
     <select name="job_id">
       <% @jobs.each do |j|%>
         <option value=<%= j.id %>><%= j.company.name %> - <%= j.title %></option>
       <% end %>
     </select>
  </div>

  <div class="actions">
    <%= f.submit 'Create Interview', {:class => "btn btn-info"} %>
  </div>

<% end %>
