<h1>Update Interview with <%= @interview.company.name %></h1>

<%= form_for(@interview) do |f| %>
  <% if @interview.errors.any? %>
    <div>
      <ul class="alert alert-error" style = "list-style-type: none;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h4>
        <br>
        <% @interview.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :job_id,  @interview.job.id %>

  <%= render :partial => 'shared/datetime_picker', :locals => {:f => f} %>

  <div class="actions">
    <%= f.submit 'Update Interview', {:class => "btn btn-info"} %>
  </div>

<% end %>

<%= link_to 'Back to Profile Page', user_path(current_user) %>