<h1>Upcoming Interviews</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Position</th>
    <th>Student</th>
    <th>Date / Time</th>
    <th></th>
    <th></th>
  </tr>

<% @interviews.each do |interview| %>
  <tr>
    <td><%= interview.company.name %></td>
    <td>&nbsp; <%= interview.user.name %></td>
    <td>&nbsp; <%= interview.job.title %></td>
    <td>&nbsp;  <%= interview.start_time.strftime("%B %d at %I:%M %p") %></td>
    <td>&nbsp;  <%= link_to 'Edit', edit_interview_path(interview) %></td>
    <td>&nbsp; | <%= link_to 'Delete', interview, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to 'Add Interview', new_interview_path, :class => "btn btn-info" %>

<br />
