<h1>Listing interviews</h1>

<table>
  <tr>
    <th>User</th>
    <th>Job</th>
    <th>Company</th>
    <th>State</th>
    <th>Date/Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interviews.each do |interview| %>
  <tr>
    <td><%= interview.user_id %></td>
    <td><%= interview.job_id %></td>
    <td><%= interview.company_id %></td>
    <td><%= interview.aasm_state %></td>
    <td><%= interview.date_time %></td>
    <td><%= link_to 'Show', interview %></td>
    <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
    <td><%= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

