<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @interview.student_id %>
</p>

<p>
  <b>Job:</b>
  <%= @interview.job_id %>
</p>

<p>
  <b>Company:</b>
  <%= @interview.company_id %>
</p>

<p>
  <b>State:</b>
  <%= @interview.aasm_state %>
</p>


<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
