<p id="notice"><%= notice %></p>

<h1>Interview Details for <%= link_to @interview.user.name, user_path(@interview.user) %></h1>

<div class="row-fluid sortable">

  <div class="box span3">
    <div class="box-content pagination-centered company_logo_div">
      <%= image_tag @interview.company.logo_url, :size => "200x200" %>
    </div>
  </div><!--/span-->
  <div class="box span4">
    <div class="box-header">
      <h2><i class="icon-th"></i><span class="break"></span>Interview Overview</h2>
    </div>
    <div class="box-content">
        <% if current_user.admin? %>
          <p><strong>Student</strong>: <%= @interview.user.name%></p>
        <% end %>
        <p><strong>Position</strong>: <%= @interview.job.title %></p>
        <p><strong>Interview Date</strong>:<%= @interview.date.strftime('%-m/%-d/%Y') %></p>
        <p><strong>Start Time</strong>: <%= @interview.start_time.strftime('%-l:%M %P') %></p>               
    </div>
  </div>
  <div class="box span5">
    <div class="box-content">
      <h1><%= @job.title %></h1>
      <p>
        <%= @job.description %>
      </p>               
     </div>
  </div>

</div>

<hr>

<%= link_to 'Edit Interview', edit_interview_path(@interview), :class => "btn btn-warning" %>