<p id="notice"><%= notice %></p>

 	<h2><%= @student.name %></h2>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @student.phone %>
</p>
<h3>Interviews</h3>
<% if @relationships.empty? == true %>
	<p><%= @student.name %> has no relationships.</p>
	<ul>
<% else %>
	<%= render :partial => "shared/relationships", :object => @relationships %>
<% end %>
	</ul>

<h3>Status</h3>
<h4>Open</h4>

<!-- find and return Status where Status == Open 
			if empty ? "No Open Statuses" : List Statuses -->
<ul>
<% @student.relationships.where(aasm_state: "open_status").each do |relationship|%>
<li><%= relationship.company_id %> - <%= relationship.aasm_state %></li>
<% end %>
</ul>

<h4>In Progress</h4>


<br/>
<h4>Closed</h4>


<br/><br/>

<%= link_to 'Add Interview', new_student_relationship_path(@student) %>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
