<p id="notice"><%= notice %></p>

 	<h2><%= @student.name %></h2>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @student.phone %>
</p>
<h3>Interviews</h3>
<% if @interviews.empty? == true %>
	<p><%= @student.name %> has no interviews.</p>
	<ul>
<% else %>
	<%= render :partial => "shared/interviews", :object => @interviews %>
<% end %>
	</ul>
<br/>
<%= link_to 'Add Interview', new_student_interview_path(@student) %>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
