<% if @user %>
  <%= form_for [@user, @relationship] do |f| %>
    <%= f.hidden_field(:user_id, :value => @user.id) %>
    <!-- we're passing user_id twice, once "automagically" -->

    <% if @relationship.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@relationship.errors.count, "error") %> prohibited this relationship from being saved:</h2>

        <ul>
        <% @relationship.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p>User: <b><%= @user.name %> </b></p>

    <div class="field">
      <%= f.label :job_id %><br />
      <%= f.number_field :job_id %>
    </div>
    <div class="field">
      <%= f.label :company_id %><br />
      <%= f.number_field :company_id %>
    </div>
    

    <div class="field">
      <%= f.label :aasm_state, "State" %><br />
      <%= f.select :aasm_state, Relationship.aasm_states.each { |state| [state] } %>
    </div>


    <div class="field">
        <%= f.label :date_time, "Relationship Time" %> <br>
        <%= f.datetime_select :date_time %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<% elsif @job %>
  <%= form_for [@job, @relationship] do |f| %>
    <%= f.hidden_field(:job_id, :value => @job.id) %>
    <!-- we're passing user_id twice, once "automagically" -->

    <% if @relationship.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@relationship.errors.count, "error") %> prohibited this relationship from being saved:</h2>

        <ul>
        <% @relationship.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p>Job Title: <b><%= @job.title %> </b></p>

    <div class="field">
      <%= f.label :user_id %><br />
      <%= f.number_field :user_id %>
    </div>
    <div class="field">
      <%= f.label :company_id %><br />
      <%= f.number_field :company_id %>
    </div>
    <div class="field">
      <%= f.label :aasm_state, "State" %><br />
      <%= f.select :aasm_state, Relationship.aasm_states.each { |state| [state] } %>
    </div>
    <div class="field">
        <%= f.label :date_time, "Relationship Time" %> <br>
        <%= f.datetime_select :date_time %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
