<h1>Listing relationships</h1>

<table>
  <tr>
    <th>User</th>
    <th>Job</th>
    <th>Company</th>
    <th>State</th>
    <th>Start Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @relationships.each do |relationship| %>
  <tr>
    <td><%= relationship.user.name %> &nbsp;</td>
    <td><%= relationship.job.title %> &nbsp;</td>
    <td><%= relationship.company_id %> &nbsp;</td>
    <td><%= relationship.aasm_state %> &nbsp;</td>
    <td><%= relationship.interview.nil? ? "No interviews scheduled." : relationship.interview.start_time %> &nbsp;</td>
    <td><%= link_to 'Show', relationship %> &nbsp;</td>
    <td><%= link_to 'Edit', edit_relationship_path(relationship) %></td>
    <td><%= link_to 'Destroy', relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

