<%= render :partial => "shared/state_change_buttons",
  :locals => {:job => @job, :interview => @interview, :state => @state} %>

<br><hr>

<div class="row-fluid sortable">

  <div class="box span4">
    <div class="box-content pagination-centered company_logo_div">
      <%= image_tag @job.company.logo_url, :size => "200x200" %>
    </div>
  </div><!--/span-->
  <div class="box span8">
    <div class="box-content">
      <h1><%= @job.title %></h1>
      <p><%= @job.description %></p>               
     </div>
  </div><!--/span-->
</div><!--/row-->
<div class="row-fluid sortable">
  <div class="box span4">
    <div class="box-header">
      <h2><i class="icon-th"></i><span class="break"></span>Company Overview</h2>
    </div>
    <div class="box-content">
        <%= raw(@company.overview) %>             
    </div>
  </div><!--/span-->
  
      <div class="box span4">
        <div class="box-header">
          <h2><i class="fa-icon-rss green"></i><span class="break"></span>My Job History</h2>
        </div>
        <div class="box-content">
          <ul class="dashboard-list">
            <% @job.records.each do |record| %>
            <li>
              <!-- <i class="fa-icon-rss green">&nbsp;</i> -->
              <span class="dash_sidebar">
                  <%= record.event.description[0..-2] %> for <strong><%= record.job %></strong> at <span class="blue"><%= record.company %></span>.
              </span>

            </li>
            <% end %>
          </ul>
        </div>
      </div>
<!--/span-->
  
  <div class="box span4">
    <div class="box-header">
      <h2><i class="icon-th"></i><span class="break"></span>Other Jobs at <%= @job.company.name %></h2>
    </div>
    <div class="box-content">
    	<% other_jobs = @job.company.jobs - [@job] %>
      <% if !other_jobs.empty? %>
      <ul>
        <% other_jobs.each do |job| %>
          <li><%= link_to job.title, job_path(job) %></li>
        <% end %>
      </ul>  
      <% else %>   
        <p>There are currently no other job postings for this company.</p>
      <% end %>                
    </div>
  </div><!--/span-->
</div><!--/row-->
      
<hr>

<% if current_user.admin? %>
  <%= link_to 'Edit Job', edit_job_path(@job), :class => "btn btn-warning" %>
<% end %>