<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @job.company_id.to_i %>
</p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
<h3>Interviews</h3>
<% if @interviews.empty? == true %>
	<p><%= @job.title %> has no interviews.</p>
	<ul>
<% else %>
	<%= render :partial => "shared/interviews", :object => @interviews %>
<% end %>
</p>
<%= link_to 'Add Interview', new_job_interview_path(@job) %> |
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', company_jobs_path(@job.company_id) %>
