<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @job.company_id.to_i %>
</p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
<h3>Relationships</h3>
<% if @relationships.empty? == true %>
	<p><%= @job.title %> has no relationships.</p>
	<ul>
<% else %>
	<%= render :partial => "shared/relationships", :object => @relationships %>
<% end %>
</p>
<%= link_to 'Add Relationship', new_job_relationship_path(@job) %> |
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', company_jobs_path(@job.company_id) %>
