<p id="notice"><%= notice %></p>


<h2>
  <%= @job.title %> at <%= @job.company.name %>
</h2>

  <b>Description:</b>
  <%= @job.description %>
</p>
<br/>
<p>
<h4>Event History</h4>
<% if @job.records.empty? == true %>
	<p><%= @job.title %> has no event history.</p>

<% else %>
<ul>
	<% @job.records.each do |record| %>
	<li> 
		<%= record.event %>
	</li>
	<% end %>
</ul>
<% end %>

<br/>
<div style="border-bottom: 1px dotted"></div>
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', company_jobs_path(@job.company_id) %>
