<p id="notice"><%= notice %></p>

<h2>
  <%= @job.title %> at <%= @job.company.name %>
</h2>

  <b>Description:</b>
  <%= @job.description %>
</p>
<br/>
<p>
<h4>Event History</h4>
<% if @job.records.empty? == true %>
	<p><%= @job.title %> has no event history.</p>

<% else %>
<ul>
	<% @job.records.each do |record| %>
	<li> 
		<%= record.event %>
	</li>
	<% end %>
</ul>
<% end %>

<br>

<div style="border-bottom: 1px dotted; margin: 10px 0;"></div>
<% if current_user.admin? %>
	<%= link_to 'Edit', edit_job_path(@job) %>
<% end %>
<%= link_to 'Add Interview', new_job_interview_path(@job), :class => "btn btn-info" %>