<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <% if current_user.admin? %>
    <div class="field">
      <%= f.label :role %>
      <%= f.text_field :role %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :hireable %>
    <%= f.check_box :hireable %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="input-prepend" title="Password">
    <span class="add-on"><i class="icon-lock"></i></span>
    <input class="input-large span10" id="password" name="user[password]" type="password" placeholder="Password"/>
  </div>

  <div class="clearfix"></div>

  <div class="input-prepend" title="Password_Confirmation">
    <span class="add-on"><i class="icon-lock"></i></span>
    <input class="input-large span10" id="password_confirmation" name="user[password_confirmation]" type="password" placeholder="Confirm Password"/>
  </div>
  
  <div class="actions">
    <%= f.submit 'Submit', :class => "btn btn-success" %>
  </div>
<% end %>