
<div class="row-fluid">
  <div class="circleStats">

    <div class="span3" onTablet="span3" onDesktop="span3">
      <div class="circleStatsItem green">
        <i class="fa-icon-thumbs-up"></i>
        <span class="percent">%</span>
        <input type="text" value="35" class="greenCircle" />
      </div>
      <div class="box-small-title">Employed Students</div>
    </div>

    <div class="span3" onTablet="span3" onDesktop="span3">
      <div class="circleStatsItem yellow">
        <i class=" fa-icon-star"></i>
        <span class="percent">%</span>
        <input type="text" value="48" class="yellowCircle" />
      </div>
      <div class="box-small-title">Students Receiving Offers</div>
    </div>

    <div class="span3" onTablet="span3" onDesktop="span3">
      <div class="circleStatsItem blue">
        <i class="fa-icon-user"></i>
        <span class="percent">%</span>
        <input type="text" value="<%= percentage_interviewing %>" class="blueCircle" />
      </div>
      <div class="box-small-title">Students Interviewing</div>
    </div>

    <div class="span3" onTablet="span3" onDesktop="span3">
      <div class="circleStatsItem orange">
        <i class="fa-icon-warning-sign"></i>
        <span class="percent">%</span>
        <input type="text" value="<%= percentage_not_interviewing %>" class="orangeCircle" />
      </div>
      <div class="box-small-title">Students Without Interviews</div>
    </div>

  </div>
</div>
      
<div class="row-fluid sortable">
  <div class="box span8">
    <div class="box-header">
      <h2><i class="icon-list-alt"></i><span class="break"></span>Interviews Activity</h2>
      <div class="box-icon">
        <a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
        <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
        <a href="#" class="btn-close"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="box-content">
      <div id="stats-chart"  class="center" style="height:300px;" ></div>
    </div>
  </div>

  <div class="box span4">
    <div class="box-header">
      <h2><i class="icon-list"></i><span class="break"></span>Weekly Stats</h2>
      <div class="box-icon">
        <a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
        <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
        <a href="#" class="btn-close"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="box-content">
          <ul class="dashboard-list">
              <li>
                <a href="#">
                  <i class="fa-icon-comment green"></i>            
                  <span class="green"><%= Interview.count %></span>
                  Interviews Added                                 
                </a>
              </li>
              <li>
              <a href="#">
                <i class="fa-icon-ok yellow"></i>
                <span class="yellow">18</span>
                Interviews Completed
              </a>
              </li>
              <li>
              <a href="#">
                <i class="fa-icon-th blue"></i>
                <span class="blue"><%= Job.count %></span>
                Jobs Added                                    
              </a>
              </li>
              <li>
              <a href="#">
                <i class="fa-icon-heart red"></i>                            
                <span class="red">57</span>
                Jobs Liked                                   
              </a>
              </li>
              <li>
              <a href="#">
                <i class="fa-icon-th-large yellow"></i>
                <span class="yellow"><%= Company.count %></span>
                Companies Added                                    
              </a>
              </li>
              <li>
              <a href="#">
                <i class="fa-icon-star blue"></i>
                <span class="blue">11</span>
                Offers Made
              </a>
              </li>
              <li>
              <a href="#">
                <i class="fa-icon-dashboard green"></i>
                <span class="green">9</span>
                Offers Accepted                                   
              </a>
              </li>
            </ul>
  </div>
</div>

<div class="clearfix"></div>

<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header">
      <h2><i class="icon-th"></i>Interviews In-Depth</h2>
    </div>
    <div class="box-content">
      <ul class="nav tab-menu nav-tabs" id="myTab">
        <li class="active"><a href="#calendar_tab">Calendar View</a></li>
        <li><a href="#list">List View</a></li>
      </ul>
       

      <div id="myTabContent" class="tab-content">
        <div class="tab-pane active" id="calendar_tab">
          <div class="row-fluid">
            <%= render 'shared/calendar12' %>
          </div>
        </div>
        <div class="tab-pane" id="list">
          <div class="row-fluid sortable">    
            <div class="box span12">
              <div class="box-content">
              	<% if @interviews.empty? %>
              		<p>No upcoming interviews.</p>
            		<% else %>
	                <table class="table table-striped table-bordered bootstrap-datatable datatable">
	                  <thead>
	                    <tr>
	                    	<th>Student</th>
	                      <th>Company</th>
	                      <th>Job Title</th>
	                      <th>Date</th>
	                      <th>Time</th>
	                      <th>Status</th>
	                      <th>Actions</th>
	                    </tr>
	                  </thead>   
	                  <tbody>
	                 <% @users.each do |user| %>
	                    <% user.interviews.each do |interview| %>
	                      <tr>
	                      	<td><%= user.name %></td>
	                        <td><%= interview.company.name %></td>
	                        <td><%= interview.job.title %></td>
	                        <td><%= interview.date.strftime('%-m/%-d/%Y') %></td>
	                        <td><%= interview.start_time.strftime('%-l:%M %P') %></td>
	                        <td class="center">
	                          <span class="label label-warning"><%= interview.relationship.aasm_state %></span>
	                        </td>
	                        <td class="center">
	                          <a class="btn btn-success" href="<%= interview_path(interview) %>">
	                            <i class="icon-zoom-in icon-white"></i>  
	                          </a>
	                          <a class="btn btn-info" href="<%= edit_interview_path(interview) %>">
	                            <i class="icon-edit icon-white"></i>  
	                          </a>
	                          <%= link_to raw('<i class="icon-trash icon-white"></i>'), interview, :class => 'btn btn-danger', :confirm => "Are you sure you want to delete this?", :method => :delete %>
	                        </td>
	                      </tr>
	                    <% end %>
	                  <% end %>
	                  </tbody>
	                </table>
                <% end %>         
              </div>
            </div><!--/span-->

          </div><!--/row-->

        </div>
      </div>
    </div>
  </div><!--/span-->
      
</div>






