<div class="row-fluid">
  <div class="circleStats">

    <div class="span3" onTablet="span3" onDesktop="span3">
      <div class="circleStatsItem green">
        <i class="fa-icon-thumbs-up"></i>
        <span class="percent">%</span>
        <input type="text" value="<%= display_employed_students %>" class="greenCircle" />
      </div>
      <div class="box-small-title">Employed Students</div>
    </div>

    <div class="span3" onTablet="span3" onDesktop="span3">
      <div class="circleStatsItem yellow">
        <i class=" fa-icon-star"></i>
        <span class="percent">%</span>
        <input type="text" value="<%= display_students_receiving_offers %>" class="yellowCircle" />
      </div>
      <div class="box-small-title">Students Receiving Offers</div>
    </div>

    <div class="span3" onTablet="span3" onDesktop="span3">
      <div class="circleStatsItem blue">
        <i class="fa-icon-user"></i>
        <span class="percent">%</span>
        <input type="text" value="<%= percentage_interviewing %>" class="blueCircle" />
      </div>
      <div class="box-small-title">Students Interviewing</div>
    </div>

    <div class="span3" onTablet="span3" onDesktop="span3">
      <div class="circleStatsItem orange">
        <i class="fa-icon-warning-sign"></i>
        <span class="percent">%</span>
        <input type="text" value="<%= percentage_not_interviewing %>" class="orangeCircle" />
      </div>
      <div class="box-small-title">Students Without Interviews</div>
    </div>

  </div>
</div>
      
<div class="row-fluid sortable">
  <div class="box span8">
    <div class="box-header">
      <h2><i class="icon-list-alt"></i><span class="break"></span>Interviews Activity</h2>
      <div class="box-icon">
        <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
        <a href="#" class="btn-close"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="box-content">
      <div id="stats-chart"  class="center" style="height:300px;" ></div>
    </div>
  </div>

  <div class="box span4">
    <div class="box-header">
      <h2><i class="icon-list"></i><span class="break"></span>Total Stats</h2>
      <div class="box-icon">
        <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
        <a href="#" class="btn-close"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="box-content">
      <ul class="dashboard-list">
        <li>
          <a href="#"><i class="fa-icon-comment green"></i>
            <span class="green"><%= Interview.count %></span>
            Interviews Added
          </a>
        </li>
        <li>
          <a href="#"><i class="fa-icon-ok yellow"></i>
          <span class="yellow"><%= interviews_completed %></span>
          Interviews Completed
        </a>
        </li>
        <li>
          <a href="#"><i class="fa-icon-th blue"></i>
          <span class="blue"><%= Job.count %></span>
          Jobs Added
        </a>
        </li>
        <li>
          <a href="#"><i class="fa-icon-heart red"></i>                     
          <span class="red">57</span>
          Jobs Liked
        </a>
        </li>
        <li>
          <a href="#"><i class="fa-icon-th-large yellow"></i>
          <span class="yellow"><%= Company.count %></span>
          Companies Added
        </a>
        </li>
        <li>
          <a href="#"><i class="fa-icon-star blue"></i>
          <span class="blue">11</span>
          Offers Made
        </a>
        </li>
        <li>
          <a href="#">
          <i class="fa-icon-dashboard green"></i>
          <span class="green">9</span>
          Offers Accepted</a>
        </li>
      </ul>
  </div>
</div>

<div class="row-fluid sortable">
  <div class="box span12">
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane active" id="calendar_tab">
          <div class="row-fluid">
            <%= render 'shared/calendar12' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>