<p id="notice"><%= notice %></p>

 	<h2><%= @user.name %></h2>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>
<h3>Interviews</h3>
<% if @interviews.empty? == true %>
	<p><%= @user.name %> has no interviews.</p>
	<ul>
<% else %>
	<%= render :partial => "shared/interviews", :object => @interviews %>
<% end %>
	</ul>
<br/>
<%= link_to 'Add Interview', new_user_interview_path(@user) %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
