<p id="notice"><%= notice %></p>

 	<h2><%= @user.name %></h2>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>
<h3>Relationships</h3>
<% if @relationships.empty? == true %>
	<p><%= @user.name %> has no relationships.</p>
	<ul>
<% else %>
	<%= render :partial => "shared/relationships", :object => @relationships %>
<% end %>
	</ul>
<br/>
<%= link_to 'Add Relationship', new_user_relationship_path(@user) %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
