
<label>Date:</label>
<input id="datepicker" type="text" value="<%= @interview.date.strftime('%m/%d/%Y') if !@interview.date.nil? %>">

<div class="field">
  <%= f.hidden_field :date, :id => "alt-datepicker"%>
</div>

<!-- <div class="input-append bootstrap-timepicker">
  <input id="interview_start_time" name="interview[start_time]" type="text" class="input-small">
  <span class="add-on"><i class="icon-time"></i></span>
</div>
<span> to </span>
<div class="input-append bootstrap-timepicker">
  <input id="interview_end_time" name="interview[end_time]" type="text" class="input-small">
  <span class="add-on"><i class="icon-time"></i></span>
</div> -->

<div class="input-append bootstrap-timepicker">
    <% if !@interview.start_time.nil? %>
    <%= f.text_field :start_time, { :class => "input-small", :id => "interview_start_time", :value => @interview.start_time.strftime('%I:%M %p') } %>
  <% else %>
    <%= f.text_field :start_time, { :class => "input-small", :id => "interview_start_time" } %>
  <% end %>
  <span class="add-on"><i class="icon-time"></i></span>
</div>

<div class="input-append bootstrap-timepicker">
  <% if !@interview.end_time.nil? %>
    <%= f.text_field :end_time, { :class => "input-small", :id => "interview_end_time", :value => @interview.end_time.strftime('%I:%M %p') } %>
  <% else %>
    <%= f.text_field :end_time, { :class => "input-small", :id => "interview_end_time" } %>
  <% end %>
  <span class="add-on"><i class="icon-time"></i></span>
</div>

<script type="text/javascript">
	$(function() {
	  $('#datepicker').datepicker({ 
	  		dateFormat: 'mm/dd/yy',
	  		altFormat: 'yy-mm-dd',
	  		altField  : '#alt-datepicker'
	  	});
	});
  $('#interview_start_time').timepicker();
  $('#interview_end_time').timepicker();
</script>