<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Eterna - Professional bootstrap site template for corporate business</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your page description here" />
    <meta name="author" content="" />

    <!-- css -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.css" rel="stylesheet" />
	<link href="css/flexslider.css" rel="stylesheet" />
	<link href="css/prettyPhoto.css" rel="stylesheet" />
	<link href="css/camera.css" rel="stylesheet" />
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link href="css/style.css" rel="stylesheet" />

	<!-- Theme skin -->
	<link href="color/default.css" rel="stylesheet" />
	
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="ico/favicon.png" />
</head>

<body>

<div id="wrapper">

	
	<!-- start header -->
	<header>	
		<div class="container">
			

			<div class="row nomargin">
				<div class="span4">
					<div class="logo">
						<a href="index.html"><%= image_tag("logo.png") %></a>
					</div>
				</div>
			<div class="span8">
				<div class="navbar navbar-static-top">
					<div class="navigation">
						<nav>
						<ul class="nav topnav">
							<li class="dropdown active">
							<a href="index.html"><i class="icon-home"></i> Home <i class="icon-angle-down"></i></a>
							<ul class="dropdown-menu"><div id=​"t_options" style=​"left:​ -230px;​">​
								<li><a href="index-alt2.html">Homepage 2</a></li>
								<li><a href="index-alt3.html">Homepage 3</a></li>
								<li><a href="index-alt4.html">Parallax slider</a></li>
								<li><a href="index-landingpage.html">Landing page</a></li>
							</ul>
							</li>
							<li class="dropdown">
								<%= link_to 'Companies', companies_path %>
							<ul class="dropdown-menu">
								<li><a href="typography.html">Typography</a></li>
								<li><a href="components.html">Components</a></li>
								<li><a href="icons.html">Icons</a></li>
								<li><a href="icon-variations.html">Icon variations</a></li>
								<li class="dropdown"><a href="#">3rd menus<i class="icon-angle-right"></i></a>
								<ul class="dropdown-menu sub-menu-level1">
									<li><a href="index.html">Sub menu</a></li>
									<li><a href="index.html">Sub menu</a></li>
								</ul>
								</li>
							</ul>
							</li>
							<li class="dropdown">
											<li><%= link_to 'Jobs', jobs_path %>
							<ul class="dropdown-menu">
								<li><a href="about.html">About us</a></li>
								<li><a href="faq.html">FAQ</a></li>
								<li><a href="team.html">Team</a></li>
								<li><a href="services.html">Services</a></li>
								<li><a href="pricingbox.html">Pricing boxes</a></li>
								<li><a href="404.html">404</a></li>
							</ul>
							</li>
							<li class="dropdown">
								<%= link_to 'Relationships', relationships_path %>
							<ul class="dropdown-menu">
								<li><a href="portfolio-2cols.html">Portfolio 2 columns</a></li>
								<li><a href="portfolio-3cols.html">Portfolio 3 columns</a></li>
								<li><a href="portfolio-4cols.html">Portfolio 4 columns</a></li>
								<li><a href="portfolio-detail.html">Portfolio detail</a></li>
							</ul>
							</li>
							<li class="dropdown">
								<%= link_to 'Users', users_path %>
							<ul class="dropdown-menu">
								<li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
								<li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
								<li><a href="blog-fullwidth.html">Blog fullwidth</a></li>
								<li><a href="post-left-sidebar.html">Post left sidebar</a></li>
								<li><a href="post-right-sidebar.html">Post right sidebar</a></li>
							</ul>
							<li class="dropdown">
								<%= link_to 'Interviews', interviews_path %>
							<ul class="dropdown-menu">
								<li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
								<li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
								<li><a href="blog-fullwidth.html">Blog fullwidth</a></li>
								<li><a href="post-left-sidebar.html">Post left sidebar</a></li>
								<li><a href="post-right-sidebar.html">Post right sidebar</a></li>
							</ul>
							<li class="dropdown">
								<%= link_to 'Records', records_path %>
							<ul class="dropdown-menu">
								<li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
								<li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
								<li><a href="blog-fullwidth.html">Blog fullwidth</a></li>
								<li><a href="post-left-sidebar.html">Post left sidebar</a></li>
								<li><a href="post-right-sidebar.html">Post right sidebar</a></li>
							</ul>
						</ul>
						</nav>
					</div>
					<!-- end navigation -->
				</div>
			</div>
			</div>
		</div>
	</header>	
	<!-- end header -->