<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>hireCRM</title>
</head>

<body>

<div id="wrapper">
	
	<!-- Start Eterna Header -->

	<header>	

		<!-- Navigation Bar -->

		<div class="container">
			<div class="row nomargin">

				<!-- Links to different Pages -->
				
				<div class="span9">
					<div class="navbar navbar-static-top">
						<div class="navigation">
							<nav>
								<ul class="nav topnav">

									<%= nav_link raw('<i class="icon-home"></i> Home'), root_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>

									<%= nav_link 'Companies', companies_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>

									<%= nav_link  jobs_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper dropdown', :selected_class => 'active'} do %>Jobs <i class="icon-angle-down"></i><ul class="dropdown-menu"><li><%= link_to 'Search Indeed', jobs_indeed_path %></li><li><%= link_to 'Search Indeed', jobs_indeed_path %></li>
		              	</ul>
		              	<% end %>
		              	
									<%= nav_link 'Relationships', relationships_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>
									<%= nav_link 'Users', users_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>
									<%= nav_link 'Interviews', interviews_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>

									<%= nav_link 'Records', records_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>
								</ul>
							</nav>
						</div>
						<!-- end navigation -->
					</div>
				</div>

				<!-- Create Login Buttons -->

				<div class="span3">
					
					<% if current_user %>
						<span class = "pull-right">
							Logged in as <%= current_user.name %>&nbsp;&nbsp;
							<%= link_to "Log Out", logout_path, method: "delete", :class => "btn btn-warning" %>
						</span>
					<% else %>
						<span class = "pull-right">
						<%= link_to "Sign up", signup_path, :class => "btn btn-success" %>&nbsp;&nbsp;<%= link_to "Log in", login_path, :class => "btn btn-primary" %>
						</span>
					<% end %>

				</div>

			</div>
		</div>

	</header>	

	<!-- End Eterna Header -->

</div>