<div id="wrapper">

	<body>
		<div id="overlay">
		<ul>
		  <li class="li1"></li>
		  <li class="li2"></li>
		  <li class="li3"></li>
		  <li class="li4"></li>
		  <li class="li5"></li>
		  <li class="li6"></li>
		</ul>
	</div>	

	<!-- START: Header -->

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="index.html"> <span class="hidden-phone">Hire CRM</span></a>
								
				<!-- START: Header Menu -->

				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						
						<!-- START: User Dropdown -->

						<% if current_user %>
             <span class = "pull-right">

               <span class="dropdown">

								<a class="btn dropdown-toggle" data-toggle="dropdown">
									<i class="icon-user icon-white"></i>
									<span class="caret"></span>
								</a>

								<ul class="dropdown-menu">
									<li><a href="<%= login_path %>"><i class="icon-user"></i> Profile</a></li>
									<li><%= link_to raw('<i class="icon-off"></i> Logout'), logout_path, method: "delete"%></li>
								</ul>

								Whaddup <%= current_user.name.split.first %>!

							</span>

             </span>
           <% else %>
             <span class = "pull-right">
             <%= link_to "Sign up", signup_path, :class => "btn btn-success" %>  <%= link_to "Log in", login_path, :class => "btn btn-primary" %>
             </span>
           <% end %>

						<!-- END: User Dropdown -->

					</ul>
				</div>

				<!-- END: Header Menu -->
				
			</div>
		</div>
	</div>

	<!-- END: Header -->
	
	<div class="container-fluid">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->

			<div class="span2 main-menu-span">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						
						<%= nav_link raw('<i class="icon-home icon-white"></i> Home'), root_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>

						<%= nav_link raw('<i class="icon-briefcase icon-white"></i> Companies'), companies_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>

						<%= nav_link raw('<i class="icon-thumbs-up icon-white"></i> Jobs'), jobs_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>

						<%= nav_link raw('<i class="icon-retweet icon-white"></i> Relationships'), relationships_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>

						<%= nav_link raw('<i class="icon-user icon-white"></i> Users'), users_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>

						<%= nav_link raw('<i class="icon-calendar icon-white"></i> Interviews'), interviews_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>

						<%= nav_link raw('<i class="icon-pencil icon-white"></i> Records'), records_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>
						
					</ul>
				</div><!--/.well -->
			</div><!--/span-->
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- start: Content -->
			
			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Dashboard</a>
					</li>
				</ul>
				<hr>
			</div>