<div id="wrapper">

	<body>
<!-- 		<div id="overlay">
		<ul>
		  <li class="li1"></li>
		  <li class="li2"></li>
		  <li class="li3"></li>
		  <li class="li4"></li>
		  <li class="li5"></li>
		  <li class="li6"></li>
		</ul>
	</div>	 -->

	<!-- START: Header -->

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#"> <span class="hidden-phone">Hire CRM</span></a>
								
				<!-- START: Header Menu -->

				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						
						<!-- START: User Dropdown -->

						<% if current_user %>
             <span class = "pull-right">

               <span class="dropdown">

								<a class="btn dropdown-toggle" data-toggle="dropdown">
									<i class="icon-user icon-white"></i>
									<span class="caret"></span>
								</a>

								<ul class="dropdown-menu">
									<li><a href="<%= edit_user_path(current_user) %>"><i class="icon-user"></i> Edit Profile</a></li>
									<li><%= link_to raw('<i class="icon-off"></i> Logout'), logout_path, method: "delete"%></li>
								</ul>

								<a href="<%= user_path(current_user) %>" class = "remove-hyperlink">Hello, <%= current_user.name.split.first %>!</a>

							</span>

             </span>
           <% else %>
             <span class = "pull-right">
             <%= link_to "Sign up", signup_path, :class => "btn btn-success" %>  <%= link_to "Log in", login_path, :class => "btn btn-primary" %>
             </span>
           <% end %>

						<!-- END: User Dropdown -->

					</ul>
				</div>

				<!-- END: Header Menu -->
				
			</div>
		</div>
	</div>

	<!-- END: Header -->
	
	<div class="container-fluid">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->

			<div class="span2 main-menu-span">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">

						<% if current_user.student? %>
							<%= nav_link raw('<i class="icon-home icon-white"></i><span class="hidden-tablet"> Home</span>'), user_path(current_user), {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>
						<% end %>

						<% if current_user.admin? %>
							<%= nav_link raw('<i class="icon-home icon-white"></i><span class="hidden-tablet"> Dashboard</span>'), dashboard_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>
						<% end %>

						<% if current_user.admin? %>
							<%= nav_link raw('<i class="icon-user icon-white"></i><span class="hidden-tablet"> Students</span>'), users_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>
						<% end %>

						<%= nav_link raw('<i class="icon-briefcase icon-white"></i><span class="hidden-tablet"> Companies</span>'), companies_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>

						<%= nav_link raw('<i class="icon-thumbs-up icon-white"></i><span class="hidden-tablet"> Jobs</span>'), jobs_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>

						<% if current_user.admin? %>

							<%= nav_link raw('<i class="icon-calendar icon-white"></i> <span class="hidden-tablet"> Interviews</span>'), interviews_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>

							<%= nav_link raw('<i class="fa-icon-list-ol icon-white"></i> <span class="hidden-tablet"> Records</span>'), records_path, {:class => 'link'}, {:wrapper => 'li', :wrapper_class => 'test-wrapper', :selected_class => 'active'} %>
						<% end %>
						
					</ul>
				</div><!--/.well -->
			</div><!--/span-->
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- start: Content -->
			
			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="<%= current_user.role == "admin" ? dashboard_path : user_path(current_user) %>">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#"><%= controller_name.capitalize %></a>
					</li>
				</ul>
				<hr>
			</div>