<div class="row-fluid sortable">    
  <div class="box span12">
    <div class="box-header" data-original-title>
      <h2><i class="icon-user"></i><span class="break"></span>Interviews</h2>
      <div class="box-icon">
        <a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
        <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
        <a href="#" class="btn-close"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="box-content">
      <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
          <tr>
            <th>Job Title</th>
            <th>Company</th>
            <% if current_user.student? %>
              <th>Status</th>
            <% end %>
            <% if current_user.admin? %>
              <th>Actions</th>
            <% end %>
          </tr>
        </thead>   
        <tbody>

        <% job_list.each do |job| %>    
          <tr>
            <td><%= link_to job.title, job_path(job) %></td>
            <td><%= job.company.name %></td>
            <% if current_user.student? %>
                <td class="center">
                  <%= span_for_job_relationship_status(job, current_user) %>
                </td>
            <% end %>
              <% if current_user.admin? %>
                <td class="center">
                  <a class="btn btn-info" href="<%= edit_job_path(job) %>">
                    <i class="icon-edit icon-white"></i>  
                  </a>
                  <%= link_to raw('<i class="icon-trash icon-white"></i>'), job, :class => 'btn btn-danger', :confirm => "Are you sure you want to delete this?", :method => :delete %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>            
    </div>
  </div>
</div>