<% case @state %>
<% when "start" %>
  <%= link_to 'Like This Job', {:controller => :states, :action => :rel_like_company}, :class => "btn btn-success status_btn" %>
  <%= link_to 'Add Interview', new_job_interview_path(@relationship.job), :class => "btn btn-info" %>
<% when "like" %>
  <%= link_to 'Unlike This Job', {:controller => :states, :action => :rel_unlike_company}, :class => "btn status_btn" %>
  <%= link_to 'Add Interview', new_job_interview_path(@relationship.job), :class => "btn btn-info" %>
<% when "interviewing" %>
  <%= link_to 'Edit Interview', edit_interview_path(@relationship.interview_id), :class => "btn btn-warning" %>
<% when "pending" %>
  <!-- Add Additional Interview -->
  <%= link_to 'Add Another Interview', new_job_interview_path(@relationship.job), :class => "btn btn-info status_btn" %>
  
  <!-- Offer Received -->
  <%= link_to 'Offer Received!', {:controller => :states, :action => :rel_offer_received}, :class => "btn btn-success status_btn" %>

  <!-- User Declines  -->
  <%= link_to 'You Declined', {:controller => :states, :action => :rel_user_declined}, :class => "btn btn-warning status_btn" %>

  <!-- Company Declines -->
  <%= link_to 'Rejected', {:controller => :states, :action => :rel_company_declined}, :class => "btn btn-danger status_btn" %>

<% when "user_decline" %>
  <span class="pull-right">
    <p style="font-style: italic">
      You declined to continue discussing the <%= @relationship.job.title %> position at <%= @relationship.company.name %>.
    </p>
  </span>

<% when "company_decline" %>
  <span class="pull-right">
    <p style="font-style: italic">
      <%= @relationship.company.name %> has passed (for now).
    </p>
  </span>

<% when "offer_received" %>
  <%= link_to 'Accept Offer', {:controller => :states, :action => :accept_offer}, :class => "btn btn-success status_btn" %>
  <%= link_to 'Reject Offer', {:controller => :states, :action => :reject_offer}, :class => "btn btn-danger status_btn" %>  
  <span class="pull-right">
    <p style="font-style: italic">
      You received an offer from <%= @relationship.company.name %>!
    </p>
  </span>

<% when "offer_accepted" %>
  <span class="pull-right">
    <p style="font-style: italic">
      You accepted an offer from <%= @relationship.company.name %>!
    </p>
  </span>
<% when "offer_declined" %>
  <span class="pull-right">
    <p style="font-style: italic">
      You declined an offer from <%= @relationship.company.name %>.
    </p>
  </span>
<% else %>
  <span class="pull-right">
    <p style="font-style: italic">
      If you see this message, something's not working!
    </p>
  </span>
<% end %>
