<% if @state %>
  <% case @state %>
  <% when "start" %>
    <%= link_to 'Like This Job', {:controller => :states, :action => :state_action, :job_id => @job.id, :controller_name => params[:controller], :event => "like_company"}, :class => "btn btn-success status_btn" %>
    <%= link_to 'Add Interview', new_job_interview_path(@job), :class => "btn btn-info" %>
  
  <% when "like" %>
    <%= link_to 'Unlike This Job', {:controller => :states, :action => :state_action, :job_id => @job.id, :controller_name => params[:controller], :event => "unlike_company"}, :class => "btn status_btn" %>
    <%= link_to 'Add Interview', new_job_interview_path(@job), :class => "btn btn-info" %>
  
  <% when "interviewing" %>
  <%= link_to 'Reschedule Interview', edit_interview_path(@interview.id), :class => "btn btn-warning" %>

  <% when "pending" %>
    <%= link_to 'Add Another Interview', new_job_interview_path(@job), :class => "btn btn-info" %>
    <%= link_to 'Received offer', {:controller => :states, :action => :state_action, :job_id => @job.id, :controller_name => params[:controller], :event => "receives_offer"}, :class => "btn status_btn btn-success" %>
    <%= link_to 'I\'m not interested', {:controller => :states, :action => :state_action, :job_id => @job.id, :controller_name => params[:controller], :event => "user_declines"}, :class => "btn status_btn btn-warning" %>
    <%= link_to 'Rejected!', {:controller => :states, :action => :state_action, :job_id => @job.id, :controller_name => params[:controller], :event => "company_declines"}, :class => "btn status_btn btn-danger" %>

  <% when "offer_received" %>
    <%= link_to 'Accept offer', {:controller => :states, :action => :state_action, :job_id => @job.id, :controller_name => params[:controller], :event => "accepts_offer"}, :class => "btn status_btn btn-success" %>
    <%= link_to 'Decline offer', {:controller => :states, :action => :state_action, :job_id => @job.id, :controller_name => params[:controller], :event => "declines_offer"}, :class => "btn status_btn btn-danger" %>
  
  <% when "offer_declined" %>
    <div> You have declined an offer to be a <%= @job.title %> at <%= @company.name %>.</div>
  
  <% when "company_decline" %>
    <div> Sorry, but <%= @company.name %> doesn't think that there is a good fit right now.</div>
  
  <% when "offer_accepted" %>
    <h2>Congratulations. You're going to be an awesome <%= @job.title %> at <%= @job.company.name %>!</h2>
    <p style = "font-style: italic">Remember: Push code all day, every day.</p>
    <%= image_tag("http://media1.giphy.com/media/MhHXeM4SpKrpC/original.gif", :width => "300px", :style => "border-radius: 10px;")  %>
  <% end %>

<% else %>

  <%= link_to 'Like This Job', {:controller => :states, :action => :state_action, :job_id => @job.id, :controller_name => params[:controller], :event => "like_company"}, :class => "btn btn-success status_btn" %>

<% end %>