<h2>Add Interview for <%= @job.title %> at <%= @job.company.name %></h2>

<%= form_for(@interview) do |f| %>
  <% if @interview.errors.any? %>
    <div>
      <ul class="alert alert-error" style = "list-style-type: none;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h4>
        <br>
        <% @interview.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :job_id, :value => @job.id %>
  

  <%= render :partial => 'shared/datetime_picker', :locals => {:interview => @interview, :f => f} %>

  <% if current_user.admin? %>

    <div class="field">
      <label>Select a User</label>
      <select name="interview[user_id]">
        <% unless @user %>
          <option selected="selected">Select a User</option>
        <% end %>
          <% @users.each do |u|%>
            <% if @user && (@user.name == u.name) %>
              <option value=<%= u.id %> selected="selected"><%= u.name %></option> 
            <% else %>
              <option value=<%= u.id %>><%= u.name %></option> 
            <% end %>
        <% end %>
      </select>

    </div>
  <% else %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>

  <div class="actions">
    <%= f.submit 'Create Interview', {:class => "btn btn-info"} %>
  </div>

<% end %>