<h1>Companies in Network</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td>&nbsp;  <%= link_to company.name, company %></td>
    <td>&nbsp;  <%= link_to company.website, company.website %></td>
    <% if current_user.admin? %>
      <td>&nbsp; | <%= link_to 'Edit', edit_company_path(company) %></td>
      <td>&nbsp; | <%= link_to 'Delete', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path, :class => "btn btn-info" %>
