<p id="notice"><%= notice %></p>

<h2>
  <%= @company.name %>
</h2>

<p>
  <b>Website:</b>
  <%= @company.website %>
</p>

<h4>Available Jobs</h4>
<% if @company.jobs.empty? == true %>
	<p><%= @company.name %> has no jobs available.</p>

<% else %>
<ul>
	<% @company.jobs.each do |job| %>
	<li> 
		<%= job.title %>
	</li>
	<% end %>
</ul>
<% end %>


<h4>Upcoming Interviews</h4>

<% if @company.interviews.empty? == true %>
	<p><%= @company.name %> has no upcoming interviews.</p>
<% else %>
	<%= render :partial => "shared/interview_list", :locals => {:interview_obj => @company} %>
<% end %>

<%= render 'shared/event_history' %>


	<div style="border-bottom: 1px dotted; margin:20px 0 20px 0;"></div>

<% if current_user.admin? %>
	<%= link_to 'Edit', edit_company_path(@company) %>
<% end %>
<%= link_to 'Add new job', new_company_job_path(@company), :class => "btn btn-info" %>
