<!DOCTYPE html>
<html>
<head>
  <title>HireCrm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<span><b>Quick Navigation Bar</b></span>

	<br>

	<%= link_to 'Companies', companies_path %> | 
	<%= link_to 'Jobs', jobs_path %> | 
	<%= link_to 'Relationships', relationships_path %> | 
	<%= link_to 'Users', users_path %>

	<br>

	<%= yield %>

</body>
</html>
