<h2>Add Interview for <%= @user.name%></h2>

<%= form_for(@interview) do |f| %>
  <% if @interview.errors.any? %>
    <div>
      <ul class="alert alert-error" style = "list-style-type: none;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h4>
        <br>
        <% @interview.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => @user.id %>

  <%= render :partial => 'shared/datetime_picker', :locals => {:interview => @interview, :f => f} %>

  <div class="field">
    <label>Select A Job</label>
    <select name="interview[job_id]">
      <% @jobs.each do |j| %>
         <option value=<%= j.id %>><%= j.title %> - <%= j.company.name %></option>      
      <% end %>
    </select>
  </div>

  <div class="actions">
    <%= f.submit 'Create Interview', {:class => "btn btn-info"} %>
  </div>

<% end %>