<h2>Add Interview for <%= @user.name%></h2>

<%= form_for(@interview) do |f| %>
  <% if @interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
      <% @interview.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :user_id, @user.id %>

  <%= render :partial => 'shared/datetime_picker', :locals => {:f => f} %>

  <div class="field">
    <label>Select A Job</label>
    <select name="job_id">
      <% @jobs.each do |j| %>
         <option value=<%= j.id %>><%= j.title %> - <%= j.company.name %></option>      
      <% end %>
    </select>
  </div>

  <div class="actions">
    <%= f.submit 'Create Interview', {:class => "btn btn-info"} %>
  </div>

<% end %>